.buttons-section-preview {
  flex-direction: column;
  justify-content: center;
  margin: auto;
  display: inline-block;
}
.button {
  margin: 5px;
  margin-top: 5px !important;
  padding: 10px;
  margin: auto;
  border-color: transparent;
  display: flex;
  font-size: large;
  font-weight: bolder;
  margin: 5px;
  border-radius: 10px;
}
.button .link {
  color: inherit;
  text-decoration: none;
}
