.rounded-class {
  width: 160px;
  height: 160px;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-radius: 50%;
}
.preview-logo-rounded {
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

.box-class {
  width: 200px;
  height: 200px;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.preview-logo-box {
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}
.preview-logo-normal {
  max-width: 100%;

  height: auto;
  margin: auto;
}
